:root {
  --color-primary: #5368df;
  --color-secondary: #fa5757;

  --color-primary-gray: #9194a1;
  --color-primary-gray-dark: #252b46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 0;
}

.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.section__description {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--color-primary-gray-dark);
}
.section__header {
  max-width: 50rem;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary-gray);
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.btn:link,
.btn:visited {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid transparent;

  transition: all 0.3s;
}
.btn--blue:link,
.btn--blue:visited {
  background-color: var(--color-primary);
  color: #fff;
  margin-right: 0.6rem;
}

.btn--blue:hover,
.btn--blue:active {
  background-color: #fff;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn--white:link,
.btn--white:visited {
  background-color: rgb(230, 230, 230);
  color: var(--color-primary-gray-dark);
}

.btn--white:hover,
.btn--white:active {
  background-color: #fff;
  border-color: var(--color-primary-gray-dark);
  color: var(--color-primary-gray-dark);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 6rem 3rem;
  z-index: 100;
}

.nav__logo {
  height: 3rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-primary-gray);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-secondary);
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 3rem;
  border-radius: 0.8rem;
  background-color: var(--color-secondary);
  color: #fff;
  border: 1px solid transparent;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: #fff;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.header {
  padding: 0 3rem;
  height: 100%;
}

.header__content {
  padding: 6rem 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header__title {
  max-width: 60rem;
  align-self: flex-start;
  padding-top: 7rem;

  display: flex;
  flex-direction: column;
}

.header__title h1 {
  font-size: 4.8rem;
  color: var(--color-primary-gray-dark);
  margin-bottom: 2rem;
}
.header__title h4 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-primary-gray);
  margin-bottom: 4rem;
  max-width: 50rem;
  line-height: 1.7;
}

.header__cta {
  display: flex;
  flex-wrap: wrap;
}

/* Features */
.features {
  max-width: 120rem;
  margin: 6rem auto;
}

.features__tab-container {
  display: flex;
  justify-content: center;

  max-width: 80rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-primary-gray);
}

.features__tab {
  border: none;
  padding: 2rem 7rem;
  background-color: #fff;
  outline: 0;
}
.features__tab:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
.features__tab span {
  font-size: 1.8rem;
}

.features__tab--active {
  border-bottom: 3px solid var(--color-secondary);
}

.features__content {
  display: none;
  padding: 10rem 0;
}

.features__content--active {
  display: flex;
  align-items: center;
}

.features__description {
  display: flex;
  flex-direction: column;

  margin-left: 8rem;
}

.features__header {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--color-primary-gray-dark);
}
.features p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 40rem;
  color: var(--color-primary-gray);
}
.features__description .btn {
  align-self: flex-start;
}

.extensions {
  max-width: 100rem;
  margin: 0 auto;
}

.extensions .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 60rem;
  margin-top: 5rem;
}

.article {
  height: 35rem;
  padding: 2.6rem;
  box-shadow: 0px 5px 8px 1px #ddd;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.article img {
  margin-bottom: 1.5rem;
  object-fit: contain;
}

.article h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-primary-gray-dark);
}

.article h5 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary-gray);
  margin-bottom: 2rem;
}

.article .btn {
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  align-self: flex-end;
}
.article--1 {
  align-self: flex-start;
}
.article--2 {
  align-self: center;
}
.article--3 {
  align-self: flex-end;
}

.faq-container {
  max-width: 50rem;
  margin: 5rem auto 0;
}

.faq {
  border-top: 1px solid var(--color-primary-gray);
  position: relative;
}

.faq h3 {
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-primary-gray-dark);
}

.faq p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-primary-gray);

  transition: 0.5s ease;
  padding: 0.6rem 0;
  line-height: 1.6;

  display: none;
}

.faq.active p {
  display: block;
}

.faq__btn {
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  position: absolute;
  right: 1rem;
  top: 2.2rem;
}

.faq-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 4rem;
}

footer {
  background: var(--color-primary);
  height: 30rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 5px;
}

.footer h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
  color: #fff;
}

.form {
  display: flex;
}
.form__input {
  padding: 1.4rem 2rem;
  margin-right: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
}

.form__input:focus {
  outline: 0;
}

.form__button {
  flex: 1;
  background: var(--color-secondary);
  padding: 1.3rem 2.5rem;
  border: 0;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.3s;
}

.form__button:hover {
  filter: brightness(0.9);
}

.nav-footer {
  background: var(--color-primary-gray-dark);
}

.nav-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-footer__logo {
  display: flex;
  align-items: center;
}

.nav-footer__logo ul {
  display: flex;
  list-style: none;
}

.nav-footer__logo li {
  font-size: 1.7rem;
  color: #fff;
}

.nav-footer__logo ul li:not(:last-child) {
  margin-right: 2.2rem;
}

.icons img:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 1172px) {
  .header__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .header__cta .btn {
    padding: 0.8rem 1.6rem;
  }
}

@media (max-width: 790px) {
  .header {
    height: 110rem;
  }
  .header__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }

  .header__title {
    margin: 0 auto;
    align-items: center;
  }

  .features__content--active {
    flex-direction: column;
    gap: 4rem;
  }

  .features__tab-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav__links {
    display: none;
  }
}

@media (max-width: 556px) {
  .header__img {
    height: 30rem;
  }

  .features__content--active {
    flex-direction: column;
    gap: 4rem;
  }

  .header__cta {
    display: flex;
    align-self: center;
  }

  .header__cta .btn {
    padding: 0.8rem 1.6rem;
  }

  .features__tab-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .features__content img {
    height: 23rem;
  }
  .features__description {
    margin-left: 0;
  }

  .nav__links {
    display: none;
  }

  .extensions .container {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .extensions .article {
    padding: 1.5rem;
  }
  .article h4 {
    font-size: 1.6rem;
  }
  .article h5 {
    font-size: 1.4rem;
  }
}
