:root {
  --color-primary: #5368df;
  --color-secondary: #fa5757;

  --color-primary-gray: #9194a1;
  --color-primary-gray-dark: #252b46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 0;
}

.section {
  padding: 10rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.section__description {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--color-primary-gray-dark);
}
.section__header {
  max-width: 50rem;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary-gray);
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.btn:link,
.btn:visited {
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid transparent;

  transition: all 0.3s;
}
.btn--blue:link,
.btn--blue:visited {
  background-color: var(--color-primary);
  color: #fff;
  margin-right: 0.6rem;
}

.btn--blue:hover,
.btn--blue:active {
  background-color: #fff;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn--white:link,
.btn--white:visited {
  background-color: rgb(230, 230, 230);
  color: var(--color-primary-gray-dark);
}

.btn--white:hover,
.btn--white:active {
  background-color: #fff;
  border-color: var(--color-primary-gray-dark);
  color: var(--color-primary-gray-dark);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 6rem 3rem;
  z-index: 100;
}

.nav__logo {
  height: 3rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-primary-gray);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-secondary);
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 3rem;
  border-radius: 0.8rem;
  background-color: var(--color-secondary);
  color: #fff;
  border: 1px solid transparent;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: #fff;
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

.header {
  padding: 0 3rem;
  height: 80vh;

  overflow: hidden;
}

.header__content {
  padding: 6rem 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.header__title {
  max-width: 60rem;
  align-self: flex-start;
  padding-top: 7rem;

  display: flex;
  flex-direction: column;
}

.header__title h1 {
  font-size: 4.8rem;
  color: var(--color-primary-gray-dark);
  margin-bottom: 2rem;
}
.header__title h4 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-primary-gray);
  margin-bottom: 4rem;
  max-width: 50rem;
  line-height: 1.7;
}

/* Features */
.features {
  max-width: 120rem;
  margin: 6rem auto;
}

.features__tab-container {
  display: flex;
  justify-content: center;

  max-width: 80rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-primary-gray);
}

.features__tab {
  border: none;
  padding: 2rem 7rem;
  background-color: #fff;
  outline: 0;
}
.features__tab:hover {
  color: var(--color-secondary);
  cursor: pointer;
}
.features__tab span {
  font-size: 1.8rem;
}

.features__tab--active {
  border-bottom: 3px solid var(--color-secondary);
}

.features__content {
  display: none;
  padding: 10rem 0;
}

.features__content--active {
  display: flex;
  align-items: center;
}

.features__description {
  display: flex;
  flex-direction: column;

  margin-left: 8rem;
}

.features__header {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--color-primary-gray-dark);
}
.features p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  max-width: 40rem;
  color: var(--color-primary-gray);
}
.features__description .btn {
  align-self: flex-start;
}
